.wrapper {
  width: 1536px;
  margin: 0 auto;
  position: relative;
}
.johannes-plenio-bg {
  background: url(../img/johannes-plenio-RwHv7LgeC7s-unsplash.png) no-repeat
    center center fixed;
  width: 1536px;
  height: 1024px;
}
.rectangle {
  width: 413px;
  height: 1024px;
  background-color: #611818;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.main {
  position: relative;
  z-index: 9999;
  padding: 511px 0 0 160px;
}
.explore {
  width: 793px;
  height: 263px;
  color: #ffffff;
  font-family: "Essonnes Text - Bold";
  font-size: 224px;
  font-weight: 700;
  letter-spacing: 5.6px;
  margin-bottom: -15px;
}
.more-details {
  width: 148px;
  height: 29px;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  letter-spacing: 0.62px;
  margin: 0 25px;
}
.plus-btn {
  width: 43px;
  height: 43px;
}
/* social media buttons */
.shape {
  width: 68px;
  height: 67px;
}
.flexParent {
  display: flex;
  align-items: center;
  padding-left: 82px;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-right: 76px;
  margin-top: 29px;
}
.social-media img {
  align-self: flex-end;
}
.social-media img:first-child {
  margin-bottom: 20px;
}

.explore-card {
  position: relative;
  z-index: 9999;
  width: 580px;
  height: 702px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  left: 188px;
  top: 157px;
  padding: 23px 0 0 67px;
}
.explore-title {
  width: 469px;
  height: 77px;
  color: #611818;
  font-family: "Essonnes Text - Bold";
  font-size: 66px;
  font-weight: 700;
  letter-spacing: 1.65px;
}
.explore-card p {
  width: 442px;
  color: #505050;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
  padding-bottom: 42px;
}
.explore-btn {
  width: 235px;
  height: 55px;
  border: 1px solid #979797;
  background-image: linear-gradient(to right, #611818 0%, #a36754 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.explore-btn span {
  width: 125px;
  height: 21px;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 1.69px;
  text-transform: uppercase;
}
.explore-close-btn {
  width: 22px;
  height: 22px;
  border: none;
  width: 97%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 43px;
}

button:focus {
  outline: 0;
}
