/*
####################################################
             COLORS VARIABLE
####################################################
*/
/*
####################################################
             B A C K G R O U N D  & MAIN CONTENT
####################################################
*/
.johannes-plenio-bg {
  background: url("../img/johannes-plenio-RwHv7LgeC7s-unsplash.png") no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed; }

.explore {
  color: #ffffff;
  font-family: "Essonnes Text - Bold";
  font-weight: 700;
  letter-spacing: 5.6px; }

.rectangle {
  width: 413px;
  height: 100vh;
  background-color: #611818;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.more-details {
  color: #ffffff;
  font-family: Arial;
  letter-spacing: 0.62px; }

.more-detail-button-wrapper {
  margin-top: -3rem;
  margin-left: 4rem; }

/*
####################################################
            EXPLORE MODAL CARD
####################################################
*/
.explore-card {
  z-index: 9999;
  max-width: 580px;
  height: 702px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }

.explore-title {
  color: #611818;
  font-family: "Essonnes Text - Bold";
  font-weight: 700;
  letter-spacing: 1.65px;
  font-size: 66px; }

.explore-card p {
  color: #505050;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
  padding-bottom: 42px; }

.explore-btn {
  width: 235px;
  height: 55px;
  border: 1px solid #979797;
  background-image: linear-gradient(to right, #611818 0%, #a36754 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.explore-btn span {
  width: 125px;
  height: 21px;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 1.69px;
  text-transform: uppercase; }

.explore-close-btn {
  z-index: 99999;
  width: 22px;
  height: 22px;
  border: none;
  width: 97%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 43px; }

.explore-close-btn img {
  cursor: pointer; }

button:focus {
  outline: 0; }

.more-details-button {
  background: transparent;
  border: none; }

.nounderline {
  text-decoration: none !important; }

/*
####################################################
            M E D I A  Q U E R I E S
####################################################
*/
/* Small devices (IphoneX) */
@media (min-width: 375px) {
  .explore {
    font-size: 80px; }
  .more-detail-button-wrapper {
    margin-top: -1rem;
    margin-left: -5px; }
  .plus-btn {
    width: 30px;
    height: 30px; }
  .social-icons {
    width: 58px; } }

@media (min-width: 544px) {
  .explore {
    font-size: 120px; }
  .more-detail-button-wrapper {
    margin-top: -2rem;
    margin-left: -5px; }
  .plus-btn {
    width: 30px;
    height: 30px; }
  .social-icons {
    width: 58px; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .explore {
    font-size: 155px; }
  .more-details {
    font-size: 16px; }
  .more-detail-button-wrapper {
    margin-left: 1rem; }
  .plus-btn {
    width: 43px; }
  .social-icons {
    width: 68px; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .explore {
    font-size: 200px; }
  .more-details {
    font-size: 25px; }
  .more-detail-button-wrapper {
    margin-left: 2rem; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .explore {
    font-size: 224px; }
  .more-details {
    font-size: 25px; } }
